In [1]:
from sqlalchemy import create_engine

In [ ]:
#from sqlalchemy.ext.declarative import declarative_base

In [7]:
engine = create_engine("sqlite:///alchemy_core.db", echo = True)

In [8]:
from sqlalchemy.ext.automap import automap_base

In [9]:
Base = automap_base() #자동으로 클래스를 만들어준다. 
#Base = declararive_base()

In [10]:
Base.prepare(engine, reflect = True)

2018-07-12 10:25:15,591 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:25:15,592 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,595 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:25:15,596 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,596 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 10:25:15,597 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,600 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-12 10:25:15,601 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,602 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:15,603 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,604 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-12 10:25:15,605 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,606 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:15,606 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,608 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-12 10:25:15,608 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,609 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:15,611 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,613 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-12 10:25:15,613 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,614 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:15,614 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,615 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:25:15,616 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,617 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:25:15,617 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,618 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:15,619 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,620 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:25:15,620 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,621 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:25:15,622 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,622 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:15,623 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,624 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-12 10:25:15,625 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,626 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:15,627 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,629 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-12 10:25:15,630 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,631 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:15,632 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,633 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:25:15,633 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,635 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:25:15,636 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,637 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:15,637 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,638 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-12 10:25:15,639 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,642 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:15,642 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,644 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-12 10:25:15,645 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,646 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:15,647 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,648 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:25:15,649 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,650 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:25:15,651 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:15,651 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:15,652 INFO sqlalchemy.engine.base.Engine ()

In [12]:
from sqlalchemy.orm import sessionmaker

In [13]:
Session = sessionmaker(bind = engine)

In [14]:
session = Session()

In [16]:
Artist = Base.classes.Artist

In [17]:
Artist #automap 이 한 번 감싼 형태로 만들어져있다.

sqlalchemy.ext.automap.Artist

In [18]:
result = session.query(Artist)

In [21]:
#객체로 가져왔기 때문에 바로 나오지 못 한다. 이것이 아까 베이스의 차이로 발생한 것 
for row in result: 
    print(row)

2018-07-12 10:29:10,101 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 10:29:10,102 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.ext.automap.Artist object at 0x10f7beb00>
<sqlalchemy.ext.automap.Artist object at 0x10f7be780>

In [22]:
for row in result:
    print(row.name, row.id)

2018-07-12 10:30:19,400 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 10:30:19,401 INFO sqlalchemy.engine.base.Engine ()
Led Zepplin 1
AC/DC 2

# Relationship
- class 에 서로 다른 instance를 만들어놓은 다음 아티스트로 앨범을 참조하고 앨범으로 아티스트를 참조할 수 있다.

In [23]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [ ]:
from sqlalchemy.orm import relationships