# Exercise 61: Average

In [16]:
def Average():
    flag = True
    ans = 0
    i = 0
    while(flag):
        a = int(input())
        i += 1
        if(a == 0):
            break
        ans += a
    ans = ans/i
    print(ans)

In [17]:
Average()

1
2
3
0
1.5

# Exercise 63: Temperature Conversion Table

In [129]:
def Conversion():
    for i in range(101):
        print(i,end=" ")
        print(i*9/5 + 32)
        i += 10

In [130]:
Conversion()

0 32.0
1 33.8
2 35.6
3 37.4
4 39.2
5 41.0
6 42.8
7 44.6
8 46.4
9 48.2
10 50.0
11 51.8
12 53.6
13 55.4
14 57.2
15 59.0
16 60.8
17 62.6
18 64.4
19 66.2
20 68.0
21 69.8
22 71.6
23 73.4
24 75.2
25 77.0
26 78.8
27 80.6
28 82.4
29 84.2
30 86.0
31 87.8
32 89.6
33 91.4
34 93.2
35 95.0
36 96.8
37 98.6
38 100.4
39 102.2
40 104.0
41 105.8
42 107.6
43 109.4
44 111.2
45 113.0
46 114.8
47 116.6
48 118.4
49 120.2
50 122.0
51 123.8
52 125.6
53 127.4
54 129.2
55 131.0
56 132.8
57 134.6
58 136.4
59 138.2
60 140.0
61 141.8
62 143.6
63 145.4
64 147.2
65 149.0
66 150.8
67 152.6
68 154.4
69 156.2
70 158.0
71 159.8
72 161.6
73 163.4
74 165.2
75 167.0
76 168.8
77 170.6
78 172.4
79 174.2
80 176.0
81 177.8
82 179.6
83 181.4
84 183.2
85 185.0
86 186.8
87 188.6
88 190.4
89 192.2
90 194.0
91 195.8
92 197.6
93 199.4
94 201.2
95 203.0
96 204.8
97 206.6
98 208.4
99 210.2
100 212.0

# Exercise 66: Compute a Grade Point Average

In [137]:
def Compute_Grade():
    result = 0
    i = 0
    while(True):
        a = input()
        if(a == ' '):
            break
        i += 1
        if(a == 'A+' or a == 'A'):
            result += 4.0
        elif(a == 'A-'):
            result += 3.7
        elif(a == 'B+'):
            result += 3.3
        elif(a == 'B'):
            result += 3.0
        elif(a == 'B-'):
            result += 2.7
        elif(a == 'C+'):
            result += 2.3
        elif(a == 'C'):
            result += 2.0   
        elif(a == 'C-'):
            result += 1.7
        elif(a == 'D+'):
            result += 1.3
        elif(a == 'D'):
            result += 1.
        elif(a == 'F'):
            result += 0
        else:
            continue
    print(result/i)

In [138]:
Compute_Grade()

A
C+
B

3.1

# Exercise 67: Admission Price

In [19]:
def Admission_Price():
    ans = 0
    while(True):
        a = int(input())
        if(a == 0):
            break
        if(a <=2 ):
            continue
        elif(3 <= a and a <= 12):
            ans += 14
        elif(65 <= a):
            ans += 18
        else:
            ans += 23
    print(ans)

In [20]:
Admission_Price()

3
6
20
66
0
69

# Exercise 72: Is a String a Palindrome?
1. mid 값을 정한다. 
 - 글자수가 짝수 -> 4/2 = 2 그냥 그대로 하면 된다.
 - 홀수 -> 몫만 챙겨야 한다. 
2. 문자열의 앞부터 그리고 문자열의 뒤부터 확인해야 한다. 
 - 짝수: 미드 값 포함
 - 홀수: 미드 값 제외

In [41]:
def Is_a_String_Palidrome(a):
    #print(len(a))
    if len(a) % 2 == 0:
        mid = len(a)//2
        #print(mid)
        for i in range(mid):
            if a[i] != a[-(i+1)]:
                return False
    else:
        mid = len(a)//2
        for i in range(mid):
            if a[i] != a[-(i+1)]:
                return False
    return True

In [42]:
Is_a_String_Palidrome('civic')

True

# Exercise 74: Multiplication Table

In [58]:
def Multiplecation_Table():
    for i in range(11):
        for j in range(11):
            if (i == 0):
                if (j == 0):
                    print("  ",end="")
                else:
                    print(j,end = "  ")
            elif(j == 0):
                print(i,end = " ")
            else:
                print(i*j,end = "  ")
        print()

In [59]:
Multiplecation_Table()

  1  2  3  4  5  6  7  8  9  10
1 1  2  3  4  5  6  7  8  9  10
2 2  4  6  8  10  12  14  16  18  20
3 3  6  9  12  15  18  21  24  27  30
4 4  8  12  16  20  24  28  32  36  40
5 5  10  15  20  25  30  35  40  45  50
6 6  12  18  24  30  36  42  48  54  60
7 7  14  21  28  35  42  49  56  63  70
8 8  16  24  32  40  48  56  64  72  80
9 9  18  27  36  45  54  63  72  81  90
10 10  20  30  40  50  60  70  80  90  100

# Exercise 77: Binary to Decimal

In [119]:
def B_to_D(a):
    ans = 0;
    for i in range(len(a)):
        mul = 1;
        for j in range(len(a) - i - 1):
            mul *= 2
        ans += int(a[i]) * mul
    print(ans)

In [121]:
B_to_D('111')

7

# Exercise 75: Greatest Common Divisor
1. string을 받으면 
2. 길이 만큼 for문을 돌려서 각 자리 수의 *2씩을 하면 된다.

In [144]:
def Greate_Division(n,m):
    if n > m:
        d = n
    else:
        d = m
    for i in range(d):
        if(n%d == 0 and m%d == 0):
            print(d)
            return;
        d -= 1
    print(1)

In [147]:
Greate_Division(15,3)

3

# Exercise 78: Decimal to Binary
1. string convert
2. 10/2 = 5 0 5/2 = 2 and 1 2/2 = 1 and 0 1/2 = 0 and 1 -> 1 0 1 0

In [124]:
def D_to_B(a):
    result = str()
    division = a
    while(division != 0):
        result = str(division%2) + result
        division = division//2
    print(result)

In [148]:
D_to_B(10)

1010