# Exercise 82: Taxi Fare

In [2]:
def Taxi_Fare(a):
    result = 4 + a //140 *0.25
    return result

In [3]:
Taxi_Fare(160)

4.25

# Exercise 84: Median of Three Values

In [4]:
def Median_of_Three_Values( a, b, c):
    result = [a,b,c]
    result.sort()
    return result[1]

In [5]:
Median_of_Three_Values(10,5,2)

5

In [21]:
Median_of_Three_Values(5,19,14)

14

# Exercise 85: Convert an Integer to its Ordinal Number

In [7]:
def I_to_O(a):
    if a == 1:
        return 'first'
    elif a == 2:
        return 'second'
    elif a == 3:
        return 'third'
    else:
        return str(a) + 'th'

In [8]:
I_to_O(13)

'13th'

In [20]:
I_to_O(3)

'third'

# Exercise 88: Is it a Valid Triangle?

In [9]:
def Valid_Triangle(a,b,c):
    result = [a,b,c]
    result.sort()
    if(result[2]*result[2] > result[0] * result[0] +result[1] *result[1]):
        return False
    else:
        return True

In [10]:
Valid_Triangle(6,6,6)

True

In [11]:
Valid_Triangle(6,2,2)

False

# Exercise 92: Is a Number Prime?

In [17]:
def Prime(a):
    for i in range(2,a):
        if(a % i == 0):
            return False
    return True

In [18]:
Prime(15)

False

In [19]:
Prime(31)

True