In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
def getURL(url):
    html = requests.get(url) 
    dom = BeautifulSoup(html.text,"lxml")
    #links = dom.find_all() #css selector는 구글에서만 실행
    return dom

In [3]:
url = "http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?serviceKey=0xfE7KsqCRvly8WqAN7j%2BP3UOwr1c2n%2BO4R3yKGwmOHzgCJ7LccKci0zdNmZbQUQbt3edT3CKrl4%2BG83Xhx25A%3D%3D&numOfRows=10&pageSize=10&pageNo=1&startPage=1&stationName=%EC%A2%85%EB%A1%9C%EA%B5%AC&dataTerm=DAILY&ver=1.3"

In [4]:
dom = getURL(url)

In [5]:
type(dom)

bs4.BeautifulSoup

In [6]:
id = 0
for i in dom.find_all("item"):
    id += 1
    data = i.text.split()
    data.insert(0, id)
    if len(data) == 21:
        data[20] = "-"
        data.insert(21,2)
    print(data)

[1, '2018-07-17', '24:00', '도시대기', '0.004', '0.2', '0.002', '0.023', '27', '30', '25', '27', '79', '2', '1', '1', '1', '1', '1', '2', '1', '2']
[2, '2018-07-17', '23:00', '도시대기', '0.005', '0.3', '0.002', '0.024', '28', '31', '28', '28', '82', '2', '1', '1', '1', '1', '2', '2', '1', '2']
[3, '2018-07-17', '22:00', '도시대기', '0.006', '0.2', '0.003', '0.024', '25', '31', '23', '27', '79', '2', '1', '1', '1', '1', '2', '2', '1', '2']
[4, '2018-07-17', '21:00', '도시대기', '0.005', '0.3', '0.006', '0.024', '-', '31', '30', '27', '79', '2', '1', '1', '1', '1', '2', '2', '-', 2]
[5, '2018-07-17', '20:00', '도시대기', '0.004', '0.4', '0.013', '0.024', '28', '32', '27', '27', '79', '2', '1', '1', '1', '1', '2', '2', '1', '2']
[6, '2018-07-17', '19:00', '도시대기', '0.004', '0.3', '0.020', '0.017', '27', '34', '22', '27', '79', '2', '1', '1', '1', '1', '2', '2', '1', '2']
[7, '2018-07-17', '18:00', '도시대기', '0.004', '0.3', '0.019', '0.014', '27', '35', '25', '28', '82', '2', '1', '1', '1', '1', '2', '2', '1', '2']
[8, '2018-07-17', '17:00', '도시대기', '0.006', '0.2', '0.020', '0.014', '37', '37', '34', '28', '82', '2', '1', '1', '1', '1', '2', '2', '2', '2']
[9, '2018-07-17', '16:00', '도시대기', '0.008', '0.3', '0.028', '0.017', '38', '37', '36', '27', '79', '2', '1', '1', '1', '1', '2', '2', '2', '3']
[10, '2018-07-17', '15:00', '도시대기', '0.008', '0.3', '0.036', '0.019', '42', '36', '37', '26', '77', '2', '1', '1', '2', '1', '2', '2', '2', '3']

In [7]:
import sqlite3

In [8]:
conn = sqlite3.connect("test.db")

In [9]:
cur = conn.cursor()

In [10]:
cur.executescript(
"""
    create table cityAir(
        id int ptimary key, 
        date text,
        time text,
        mangname text,
        so2value int, 
        covalue int, 
        o3value int, 
        no2value int, 
        pm10value int, 
        pm10value24 int, 
        pm25value int, 
        pm25value24 int, 
        khaivalue int, 
        khaigrade int, 
        so2grade int, 
        cograde int, 
        o3grade int, 
        no2grade int, 
        pm10grade int, 
        pm25grade int, 
        pm10grade1h int,  
        pm25grade1h int
    );
""")

In [11]:
id = 0
for i in dom.find_all("item"):
    id += 1
    data = i.text.split()
    data.insert(0, id)
    if len(data) == 21:
        data[20] = "-"
        data.insert(21,2)
    conn.execute("insert into cityAir (id, date, time, mangname, so2value, covalue, o3value, no2value, pm10value, pm10value24, pm25value, pm25value24, khaivalue, khaigrade, so2grade, cograde, o3grade, no2grade, pm10grade, pm25grade, pm10grade1h, pm25grade1h) values(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",data)

In [14]:
cur.execute("select * from cityAir") #named style

In [12]:
conn.commit()

In [15]:
print(cur.fetchall())

[(1, '2018-07-17', '24:00', '도시대기', 0.004, 0.2, 0.002, 0.023, 27, 30, 25, 27, 79, 2, 1, 1, 1, 1, 1, 2, 1, 2), (2, '2018-07-17', '23:00', '도시대기', 0.005, 0.3, 0.002, 0.024, 28, 31, 28, 28, 82, 2, 1, 1, 1, 1, 2, 2, 1, 2), (3, '2018-07-17', '22:00', '도시대기', 0.006, 0.2, 0.003, 0.024, 25, 31, 23, 27, 79, 2, 1, 1, 1, 1, 2, 2, 1, 2), (4, '2018-07-17', '21:00', '도시대기', 0.005, 0.3, 0.006, 0.024, '-', 31, 30, 27, 79, 2, 1, 1, 1, 1, 2, 2, '-', 2), (5, '2018-07-17', '20:00', '도시대기', 0.004, 0.4, 0.013, 0.024, 28, 32, 27, 27, 79, 2, 1, 1, 1, 1, 2, 2, 1, 2), (6, '2018-07-17', '19:00', '도시대기', 0.004, 0.3, 0.02, 0.017, 27, 34, 22, 27, 79, 2, 1, 1, 1, 1, 2, 2, 1, 2), (7, '2018-07-17', '18:00', '도시대기', 0.004, 0.3, 0.019, 0.014, 27, 35, 25, 28, 82, 2, 1, 1, 1, 1, 2, 2, 1, 2), (8, '2018-07-17', '17:00', '도시대기', 0.006, 0.2, 0.02, 0.014, 37, 37, 34, 28, 82, 2, 1, 1, 1, 1, 2, 2, 2, 2), (9, '2018-07-17', '16:00', '도시대기', 0.008, 0.3, 0.028, 0.017, 38, 37, 36, 27, 79, 2, 1, 1, 1, 1, 2, 2, 2, 3), (10, '2018-07-17', '15:00', '도시대기', 0.008, 0.3, 0.036, 0.019, 42, 36, 37, 26, 77, 2, 1, 1, 2, 1, 2, 2, 2, 3)]