# 5.1 More on Lists
1. list.append(x): a[len(a):] = [x]
2. list.extend(iterable): a[len(a):] = iterable
3. list.inser(i, x) i: index, x: value
4. list.remove(x): remove the first item x:value
5. list.pop([i]) 
6. list.clear: remove all
7. list.index(x[,start[, end]])
8. list.count(x)
9. list.sort(key = None, reverse = False)
10. list.reverse()
11. list.copy()

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [4]:
fruits.count('tangerine')

0

In [5]:
fruits.index('banana')

3

In [6]:
fruits.index('banana', 4) #Find banana starting a posison 4

6

In [7]:
fruits.reverse()

In [8]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [10]:
fruits.append('grape')

In [11]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [12]:
fruits.sort()

In [13]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [15]:
fruits.pop()

'pear'

# 5.1.1 Using Lists as Stacks

In [16]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)

In [17]:
stack

[3, 4, 5, 6, 7]

In [18]:
stack.pop()

7

In [19]:
stack

[3, 4, 5, 6]

# 5.1.2 Using Lists as Queues

In [20]:
from collections import deque

In [22]:
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [23]:
queue.popleft()

'Eric'

In [24]:
queue.pop()

'Graham'

In [25]:
queue

deque(['John', 'Michael', 'Terry'])

# List Comprehensions

In [27]:
squares = []
for x in range(10):
    squares.append(x**2)

In [28]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
squares = list(map(lambda x: x**2, range(10)))

In [32]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
squares = [x**2 for x in range(10)]

In [34]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x!= y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [38]:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [40]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [41]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [43]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [44]:
freshfruit = ['banana ', 'loganberry ', 'passion fruit ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [46]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [47]:
vec = [[1, 2, 3],[4, 5, 6], [7, 8, 9]] #2차 배열을 1차 배열로 변경 
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

# 5.1.4 Nested List Comprehensions

In [49]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

In [53]:
[[row[i] for row in matrix] for i in range(4)] #transpos

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [55]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [56]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [57]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# 5.2 The del statement

In [58]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]

In [59]:
a

[1, 66.25, 333, 333, 1234.5]

In [61]:
del a[2:4]

In [62]:
a

[1, 66.25, 1234.5]

In [63]:
del a[:] #list 내용물 제거

In [64]:
a

[]

In [65]:
del a #list제거

In [66]:
a

NameError: name 'a' is not defined

# 5.3 Tuples and Sequences

In [67]:
t = 12345, 54321, 'hello!'
print(t[0])
print(type(t))

12345
<class 'tuple'>

In [68]:
t

(12345, 54321, 'hello!')

In [69]:
u = t, (1 , 2, 3, 4, 5)

In [70]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [71]:
t[0] = 8888 #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [72]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [73]:
empty = ()
singleton = 'hello',
len(empty)

0

In [74]:
len(singleton)

1

In [75]:
singleton

('hello',)

In [76]:
x, y, z = t #unpacking

In [78]:
x

12345

In [79]:
y

54321

In [80]:
z

'hello!'

# 5.4 Sets

In [81]:
basket = {'apple', 'orange', 'apple', 'paer', 'orange', 'banana'}
print(basket)

{'orange', 'paer', 'banana', 'apple'}

In [82]:
'orange' in basket

True

In [83]:
'crabgrass' in basket

False

In [84]:
a = set('abracadabra')
b = set('alacazam')

In [85]:
a

{'a', 'b', 'c', 'd', 'r'}

In [86]:
a - b

{'b', 'd', 'r'}

In [87]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [88]:
a & b

{'a', 'c'}

In [89]:
a ^ b #letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [90]:
(a | b) - (a & b)

{'b', 'd', 'l', 'm', 'r', 'z'}

In [91]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [92]:
a

{'d', 'r'}

# 5.5 Dictionaries

In [93]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [95]:
tel['jack']

4098

In [96]:
del tel['sape']

In [97]:
tel

{'jack': 4098, 'guido': 4127}

In [98]:
tel['irv'] = 4127

In [99]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [100]:
list(tel)

['jack', 'guido', 'irv']

In [101]:
sorted(tel)

['guido', 'irv', 'jack']

In [102]:
'guido' in tel

True

In [103]:
'jack' not in tel

False

In [104]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [105]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [106]:
dict(sape = 4139, guido = 4127, jack = 4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

# 5.6 Looping Techniques

In [107]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [110]:
for i, v in enumerate(['tic', 'tac', 'toc']):
    print(i, v)

0 tic
1 tac
2 toc

In [116]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'black']
for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}'.format(q, a))

What is your name? It is lancelot
What is your quest? It is the holy grail
What is your favorite color? It is black

In [118]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [120]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [121]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

# 5.7 More on Conditions

In [122]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

# 5.8 Comparing Sequences and Other Types

In [124]:
(1, 2, 3) < (1, 2, 4)

True

In [125]:
[1, 2, 3] < [1, 2, 4]

True

In [126]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [127]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [128]:
(1, 2) < (1, 2, -1)

True

In [131]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [132]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True

In [133]:
('aa', 'ab') < ('abc', 'a')

True

In [134]:
'aa' < 'abc'

True