In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('data-netflix.csv', encoding='CP949')

In [9]:
type(df)

pandas.core.frame.DataFrame

# Select Column
1. dictionary
2. attribute
3. iloc
4. loc
5. filter

# Select Row
1. iloc
2. loc
3. loc 없이 [조건]로 가능

# Select Cell
1. at
2. iat
3. iloc
4. loc

In [11]:
df

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
10,Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
11,Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
12,Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2006,77.0,80
13,Naruto,TV-PG,Parental guidance suggested. May not be suitab...,70,2008,88.0,80
14,The Hunter,R,language and brief violence,100,2011,NaN,82
15,Lottie Dottie Chicken,TV-Y,Suitable for all ages.,10,2009,NaN,82
16,Arrow,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2015,96.0,80
17,Black Mirror,TV-MA,For mature audiences. May not be suitable for...,110,2016,80.0,80
18,The Originals,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,74.0,80
19,The 100,NR,This movie has not been rated.,124,2016,97.0,80
20,Masha and the Bear,TV-Y,Suitable for all ages.,10,2013,81.0,80
21,"_ Pai, _ - Look at This",TV-MA,For mature audiences. May not be suitable for...,110,2007,NaN,82
22,Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,NaN,82
23,Hunter X Hunter (2011),NR,This movie has not been rated.,124,2013,57.0,80
24,Marvel's Luke Cage,TV-MA,For mature audiences. May not be suitable for...,110,2016,95.0,80
25,Marvel's Iron Fist,TV-MA,NaN,110,2017,98.0,80
26,Narcos,TV-MA,For mature audiences. May not be suitable for...,110,2016,94.0,80
27,The Flash,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
28,The Seven Deadly Sins,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
29,Scream,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
...,...,...,...,...,...,...,...
970,Annie,PG,adult content and mld violence,60,1982,68.0,80
971,An American Tail: Fievel Goes West,G,General Audiences. Suitable for all ages.,35,1991,NaN,82
972,D2: The Mighty Ducks,PG,some mild language and rough hockey action,60,1994,70.0,80
973,"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,1989,80.0,80
974,The Iron Giant,PG,fantasy action and mild language,60,1999,83.0,80
975,The Fox and the Hound 2,G,General Audiences. Suitable for all ages.,35,2006,NaN,82
976,Air Buddies,PG,"some mild, rude humor",60,2006,NaN,82
977,Dr. Dolittle: Tail to the Chief,PG,brief mild language and some rude behavior,60,2008,NaN,82
978,Flicka 2,PG,some reckless behavior,60,2010,NaN,82
979,H2O: Just Add Water,TV-PG,Parental guidance suggested. May not be suitab...,70,2009,74.0,80
980,The Gruffalo,TV-Y,Suitable for all ages.,10,2009,NaN,82
981,Dolphin Tale,PG,some mild thematic elements,60,2011,NaN,82
982,Pound Puppies,TV-Y,Suitable for all ages.,10,2013,NaN,82
983,Beverly Hills Chihuahua 3: Viva La Fiesta!,G,General Audiences. Suitable for all ages.,35,2012,NaN,82
984,The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
985,Step Dogs,TV-PG,Parental guidance suggested. May not be suitab...,70,2013,NaN,82
986,Pok_짤mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
987,Mia and Me,TV-Y,Suitable for all ages.,10,2015,NaN,82
988,Paddington,PG,mild action and rude humor,60,2014,70.0,80
989,Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

# Select Column 
1. dictionary 방식
2. attribute 방식

## dictionary

In [13]:
df[['title','ratingDescription']] #dictionary 방식

                                          title  ratingDescription
0                                  White Chicks                 80
1                           Lucky Number Slevin                100
2                                Grey's Anatomy                 90
3                                  Prison Break                 90
4                         How I Met Your Mother                 70
5                                  Supernatural                 90
6                                  Breaking Bad                110
7                           The Vampire Diaries                 90
8                              The Walking Dead                110
9                           Pretty Little Liars                 90
10                             Once Upon a Time                 70
11                                     Sherlock                 90
12                                   Death Note                 90
13                                       Naruto                 70
14                                   The Hunter                100
15                        Lottie Dottie Chicken                 10
16                                        Arrow                 90
17                                 Black Mirror                110
18                                The Originals                 90
19                                      The 100                124
20                           Masha and the Bear                 10
21                      _ Pai, _ - Look at This                110
22                       Nymphomaniac: Volume 1                124
23                       Hunter X Hunter (2011)                124
24                           Marvel's Luke Cage                110
25                           Marvel's Iron Fist                110
26                                       Narcos                110
27                                    The Flash                 70
28                        The Seven Deadly Sins                 90
29                                       Scream                 90
..                                          ...                ...
970                                       Annie                 60
971          An American Tail: Fievel Goes West                 35
972                        D2: The Mighty Ducks                 60
973                    Honey, I Shrunk the Kids                 60
974                              The Iron Giant                 60
975                     The Fox and the Hound 2                 35
976                                 Air Buddies                 60
977             Dr. Dolittle: Tail to the Chief                 60
978                                    Flicka 2                 60
979                         H2O: Just Add Water                 70
980                                The Gruffalo                 10
981                                Dolphin Tale                 60
982                               Pound Puppies                 10
983  Beverly Hills Chihuahua 3: Viva La Fiesta!                 35
984                        The Magic School Bus                 10
985                                   Step Dogs                 70
986                     Pok_짤mon: Indigo League                 10
987                                  Mia and Me                 10
988                                  Paddington                 60
989                             Russell Madness                 60
990                           My Animal Friends                 10
991                          Dawn of the Croods                 41
992                  Alpha and Omega: Dino Digs                 35
993                   Wiener Dog Internationals                 35
994                                    Pup Star                 35
995                                     The BFG                 60
996                     The Secret Life of Pets                 60
997                            Precious Puppies                 35
998                                 Beary Tales                 35
999                             Growing Up Wild                 35

[1000 rows x 2 columns]

## attribute

In [14]:
df.title #attribute 방식

0                                    White Chicks
1                             Lucky Number Slevin
2                                  Grey's Anatomy
3                                    Prison Break
4                           How I Met Your Mother
5                                    Supernatural
6                                    Breaking Bad
7                             The Vampire Diaries
8                                The Walking Dead
9                             Pretty Little Liars
10                               Once Upon a Time
11                                       Sherlock
12                                     Death Note
13                                         Naruto
14                                     The Hunter
15                          Lottie Dottie Chicken
16                                          Arrow
17                                   Black Mirror
18                                  The Originals
19                                        The 100
20                             Masha and the Bear
21                        _ Pai, _ - Look at This
22                         Nymphomaniac: Volume 1
23                         Hunter X Hunter (2011)
24                             Marvel's Luke Cage
25                             Marvel's Iron Fist
26                                         Narcos
27                                      The Flash
28                          The Seven Deadly Sins
29                                         Scream
                          ...
970                                         Annie
971            An American Tail: Fievel Goes West
972                          D2: The Mighty Ducks
973                      Honey, I Shrunk the Kids
974                                The Iron Giant
975                       The Fox and the Hound 2
976                                   Air Buddies
977               Dr. Dolittle: Tail to the Chief
978                                      Flicka 2
979                           H2O: Just Add Water
980                                  The Gruffalo
981                                  Dolphin Tale
982                                 Pound Puppies
983    Beverly Hills Chihuahua 3: Viva La Fiesta!
984                          The Magic School Bus
985                                     Step Dogs
986                       Pok_짤mon: Indigo League
987                                    Mia and Me
988                                    Paddington
989                               Russell Madness
990                             My Animal Friends
991                            Dawn of the Croods
992                    Alpha and Omega: Dino Digs
993                     Wiener Dog Internationals
994                                      Pup Star
995                                       The BFG
996                       The Secret Life of Pets
997                              Precious Puppies
998                                   Beary Tales
999                               Growing Up Wild
Name: title, Length: 1000, dtype: object

In [16]:
df.columns #column 이름에 공백이 있으면 (.)으로는 접근이 불가능하다. -> column 명에 공백을 만들지 않는다.

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [18]:
df[['rating','title']] #순서도 변경가능하다.

    rating                                       title
0    PG-13                                White Chicks
1        R                         Lucky Number Slevin
2    TV-14                              Grey's Anatomy
3    TV-14                                Prison Break
4    TV-PG                       How I Met Your Mother
5    TV-14                                Supernatural
6    TV-MA                                Breaking Bad
7    TV-14                         The Vampire Diaries
8    TV-MA                            The Walking Dead
9    TV-14                         Pretty Little Liars
10   TV-PG                            Once Upon a Time
11   TV-14                                    Sherlock
12   TV-14                                  Death Note
13   TV-PG                                      Naruto
14       R                                  The Hunter
15    TV-Y                       Lottie Dottie Chicken
16   TV-14                                       Arrow
17   TV-MA                                Black Mirror
18   TV-14                               The Originals
19      NR                                     The 100
20    TV-Y                          Masha and the Bear
21   TV-MA                     _ Pai, _ - Look at This
22      NR                      Nymphomaniac: Volume 1
23      NR                      Hunter X Hunter (2011)
24   TV-MA                          Marvel's Luke Cage
25   TV-MA                          Marvel's Iron Fist
26   TV-MA                                      Narcos
27   TV-PG                                   The Flash
28   TV-14                       The Seven Deadly Sins
29   TV-14                                      Scream
..     ...                                         ...
970     PG                                       Annie
971      G          An American Tail: Fievel Goes West
972     PG                        D2: The Mighty Ducks
973     PG                    Honey, I Shrunk the Kids
974     PG                              The Iron Giant
975      G                     The Fox and the Hound 2
976     PG                                 Air Buddies
977     PG             Dr. Dolittle: Tail to the Chief
978     PG                                    Flicka 2
979  TV-PG                         H2O: Just Add Water
980   TV-Y                                The Gruffalo
981     PG                                Dolphin Tale
982   TV-Y                               Pound Puppies
983      G  Beverly Hills Chihuahua 3: Viva La Fiesta!
984   TV-Y                        The Magic School Bus
985  TV-PG                                   Step Dogs
986   TV-Y                     Pok_짤mon: Indigo League
987   TV-Y                                  Mia and Me
988     PG                                  Paddington
989     PG                             Russell Madness
990   TV-Y                           My Animal Friends
991  TV-Y7                          Dawn of the Croods
992   TV-G                  Alpha and Omega: Dino Digs
993      G                   Wiener Dog Internationals
994      G                                    Pup Star
995     PG                                     The BFG
996     PG                     The Secret Life of Pets
997   TV-G                            Precious Puppies
998   TV-G                                 Beary Tales
999      G                             Growing Up Wild

[1000 rows x 2 columns]

In [20]:
df[['title']] # 한 열이지만 Dataframe으로 가져올 때 이용

                                          title
0                                  White Chicks
1                           Lucky Number Slevin
2                                Grey's Anatomy
3                                  Prison Break
4                         How I Met Your Mother
5                                  Supernatural
6                                  Breaking Bad
7                           The Vampire Diaries
8                              The Walking Dead
9                           Pretty Little Liars
10                             Once Upon a Time
11                                     Sherlock
12                                   Death Note
13                                       Naruto
14                                   The Hunter
15                        Lottie Dottie Chicken
16                                        Arrow
17                                 Black Mirror
18                                The Originals
19                                      The 100
20                           Masha and the Bear
21                      _ Pai, _ - Look at This
22                       Nymphomaniac: Volume 1
23                       Hunter X Hunter (2011)
24                           Marvel's Luke Cage
25                           Marvel's Iron Fist
26                                       Narcos
27                                    The Flash
28                        The Seven Deadly Sins
29                                       Scream
..                                          ...
970                                       Annie
971          An American Tail: Fievel Goes West
972                        D2: The Mighty Ducks
973                    Honey, I Shrunk the Kids
974                              The Iron Giant
975                     The Fox and the Hound 2
976                                 Air Buddies
977             Dr. Dolittle: Tail to the Chief
978                                    Flicka 2
979                         H2O: Just Add Water
980                                The Gruffalo
981                                Dolphin Tale
982                               Pound Puppies
983  Beverly Hills Chihuahua 3: Viva La Fiesta!
984                        The Magic School Bus
985                                   Step Dogs
986                     Pok_짤mon: Indigo League
987                                  Mia and Me
988                                  Paddington
989                             Russell Madness
990                           My Animal Friends
991                          Dawn of the Croods
992                  Alpha and Omega: Dino Digs
993                   Wiener Dog Internationals
994                                    Pup Star
995                                     The BFG
996                     The Secret Life of Pets
997                            Precious Puppies
998                                 Beary Tales
999                             Growing Up Wild

[1000 rows x 1 columns]

In [21]:
type(df[['title']])

pandas.core.frame.DataFrame

# Select Row 
1. df.loc (label base): loc 안 붙히면 column 붙히면 row
2. df.iloc (index base)
3. df.at (label): 한 개만 가져올 때 
4. df.iat(index)

## loc

In [26]:
df.loc[2]

title                                                   Grey's Anatomy
rating                                                           TV-14
ratingLevel          Parents strongly cautioned. May be unsuitable ...
ratingDescription                                                   90
release year                                                      2016
user rating score                                                   98
user rating size                                                    80
Name: 2, dtype: object

In [27]:
type(df.loc[2])

pandas.core.series.Series

In [28]:
df.loc[[2]]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80

In [39]:
df.loc[[0,3]] #indexing

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80

In [37]:
df.loc[1:3] #slicing 왜냐하면 row는 sequence

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80

In [41]:
df.loc[1:3,['title','rating']]

                 title rating
1  Lucky Number Slevin      R
2       Grey's Anatomy  TV-14
3         Prison Break  TV-14

In [43]:
df.loc[:,['title', 'rating']]

                                          title rating
0                                  White Chicks  PG-13
1                           Lucky Number Slevin      R
2                                Grey's Anatomy  TV-14
3                                  Prison Break  TV-14
4                         How I Met Your Mother  TV-PG
5                                  Supernatural  TV-14
6                                  Breaking Bad  TV-MA
7                           The Vampire Diaries  TV-14
8                              The Walking Dead  TV-MA
9                           Pretty Little Liars  TV-14
10                             Once Upon a Time  TV-PG
11                                     Sherlock  TV-14
12                                   Death Note  TV-14
13                                       Naruto  TV-PG
14                                   The Hunter      R
15                        Lottie Dottie Chicken   TV-Y
16                                        Arrow  TV-14
17                                 Black Mirror  TV-MA
18                                The Originals  TV-14
19                                      The 100     NR
20                           Masha and the Bear   TV-Y
21                      _ Pai, _ - Look at This  TV-MA
22                       Nymphomaniac: Volume 1     NR
23                       Hunter X Hunter (2011)     NR
24                           Marvel's Luke Cage  TV-MA
25                           Marvel's Iron Fist  TV-MA
26                                       Narcos  TV-MA
27                                    The Flash  TV-PG
28                        The Seven Deadly Sins  TV-14
29                                       Scream  TV-14
..                                          ...    ...
970                                       Annie     PG
971          An American Tail: Fievel Goes West      G
972                        D2: The Mighty Ducks     PG
973                    Honey, I Shrunk the Kids     PG
974                              The Iron Giant     PG
975                     The Fox and the Hound 2      G
976                                 Air Buddies     PG
977             Dr. Dolittle: Tail to the Chief     PG
978                                    Flicka 2     PG
979                         H2O: Just Add Water  TV-PG
980                                The Gruffalo   TV-Y
981                                Dolphin Tale     PG
982                               Pound Puppies   TV-Y
983  Beverly Hills Chihuahua 3: Viva La Fiesta!      G
984                        The Magic School Bus   TV-Y
985                                   Step Dogs  TV-PG
986                     Pok_짤mon: Indigo League   TV-Y
987                                  Mia and Me   TV-Y
988                                  Paddington     PG
989                             Russell Madness     PG
990                           My Animal Friends   TV-Y
991                          Dawn of the Croods  TV-Y7
992                  Alpha and Omega: Dino Digs   TV-G
993                   Wiener Dog Internationals      G
994                                    Pup Star      G
995                                     The BFG     PG
996                     The Secret Life of Pets     PG
997                            Precious Puppies   TV-G
998                                 Beary Tales   TV-G
999                             Growing Up Wild      G

[1000 rows x 2 columns]

In [44]:
df.loc[:,['title', 'rating']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
title     1000 non-null object
rating    1000 non-null object
dtypes: object(2)
memory usage: 15.7+ KB

## at

In [46]:
df.at[1, 'rating']

'R'

In [47]:
df.loc[1, 'rating']

'R'

In [48]:
df.at[1:2, 'rating']

ValueError: At based indexing on an integer index can only have integer indexers

In [49]:
%timeit df.at[1, 'rating'] #하나를 찾을 때에는 at 을 이용하는 것이 효율적(속도차이 발생)

4.48 µs ± 75.1 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [52]:
%timeit df.loc[1, 'rating']

6.99 µs ± 167 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## 수정
- column 으로는 수정하면 열이 전부다 바뀐다.

In [53]:
df.loc[1, 'rating'] = '문근영' #row 으로 접근해서 수정할 수 있다.

In [54]:
df #

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,문근영,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
10,Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
11,Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
12,Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2006,77.0,80
13,Naruto,TV-PG,Parental guidance suggested. May not be suitab...,70,2008,88.0,80
14,The Hunter,R,language and brief violence,100,2011,NaN,82
15,Lottie Dottie Chicken,TV-Y,Suitable for all ages.,10,2009,NaN,82
16,Arrow,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2015,96.0,80
17,Black Mirror,TV-MA,For mature audiences. May not be suitable for...,110,2016,80.0,80
18,The Originals,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,74.0,80
19,The 100,NR,This movie has not been rated.,124,2016,97.0,80
20,Masha and the Bear,TV-Y,Suitable for all ages.,10,2013,81.0,80
21,"_ Pai, _ - Look at This",TV-MA,For mature audiences. May not be suitable for...,110,2007,NaN,82
22,Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,NaN,82
23,Hunter X Hunter (2011),NR,This movie has not been rated.,124,2013,57.0,80
24,Marvel's Luke Cage,TV-MA,For mature audiences. May not be suitable for...,110,2016,95.0,80
25,Marvel's Iron Fist,TV-MA,NaN,110,2017,98.0,80
26,Narcos,TV-MA,For mature audiences. May not be suitable for...,110,2016,94.0,80
27,The Flash,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
28,The Seven Deadly Sins,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
29,Scream,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
...,...,...,...,...,...,...,...
970,Annie,PG,adult content and mld violence,60,1982,68.0,80
971,An American Tail: Fievel Goes West,G,General Audiences. Suitable for all ages.,35,1991,NaN,82
972,D2: The Mighty Ducks,PG,some mild language and rough hockey action,60,1994,70.0,80
973,"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,1989,80.0,80
974,The Iron Giant,PG,fantasy action and mild language,60,1999,83.0,80
975,The Fox and the Hound 2,G,General Audiences. Suitable for all ages.,35,2006,NaN,82
976,Air Buddies,PG,"some mild, rude humor",60,2006,NaN,82
977,Dr. Dolittle: Tail to the Chief,PG,brief mild language and some rude behavior,60,2008,NaN,82
978,Flicka 2,PG,some reckless behavior,60,2010,NaN,82
979,H2O: Just Add Water,TV-PG,Parental guidance suggested. May not be suitab...,70,2009,74.0,80
980,The Gruffalo,TV-Y,Suitable for all ages.,10,2009,NaN,82
981,Dolphin Tale,PG,some mild thematic elements,60,2011,NaN,82
982,Pound Puppies,TV-Y,Suitable for all ages.,10,2013,NaN,82
983,Beverly Hills Chihuahua 3: Viva La Fiesta!,G,General Audiences. Suitable for all ages.,35,2012,NaN,82
984,The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
985,Step Dogs,TV-PG,Parental guidance suggested. May not be suitab...,70,2013,NaN,82
986,Pok_짤mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
987,Mia and Me,TV-Y,Suitable for all ages.,10,2015,NaN,82
988,Paddington,PG,mild action and rude humor,60,2014,70.0,80
989,Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [55]:
df.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
        'user rating score', 'user rating size'],
       dtype='object')]

## iat

In [59]:
df.iat[1, 2]

'strong violence, sexual content and adult language'

In [58]:
df.iat[1, 1] #index

'문근영'

In [60]:
df.at[1, 'rating'] #label

'문근영'

In [61]:
%timeit df.iat[1, 1] #index로 변환하는 과정이 있어서 시간이 더 걸린다.

4.9 µs ± 45.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [62]:
%timeit df.at[1, 'rating'] #label

4.48 µs ± 62.1 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## iloc

In [69]:
df.iloc[1:3, 1] #index base: list

1      문근영
2    TV-14
Name: rating, dtype: object

In [70]:
df.loc[1:3, 'rating'] #label base: dictionary 이름까지 전부다 나온다.

1      문근영
2    TV-14
3    TV-14
Name: rating, dtype: object

# Practice: Data-zillow

In [71]:
df = pd.read_csv('data-zillow.csv')

In [72]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [74]:
df.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06

## Select a colunm and all observation

In [76]:
df.RegionName #dictionary

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [78]:
df['RegionName'] #attribute

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [81]:
df.iloc[:,2] #iloc

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [83]:
df.loc[:, 'RegionName'] #loc

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [84]:
df.loc[:,['RegionName']]

              RegionName
0               New York
1            Los Angeles
2                Chicago
3           Philadelphia
4                Phoenix
5              Las Vegas
6              San Diego
7                 Dallas
8               San Jose
9           Jacksonville
10         San Francisco
11                Austin
12               Detroit
13              Columbus
14               Memphis
15             Charlotte
16               El Paso
17                Boston
18               Seattle
19             Baltimore
20                Denver
21            Washington
22             Nashville
23             Milwaukee
24                Tucson
25              Portland
26         Oklahoma City
27                 Omaha
28           Albuquerque
29                Fresno
...                  ...
10800       Mount Sidney
10801        Cedar Grove
10802              Clark
10803          Daleville
10804        Piney Point
10805               Almo
10806         Bois D Arc
10807            Tyaskin
10808          Inverness
10809             Otwell
10810        Lake Hughes
10811        Marble Hill
10812               Mead
10813           Hesperus
10814            Midland
10815             Lavaca
10816       Mays Landing
10817      Stinson Beach
10818   Upper Brookville
10819            Decatur
10820         Horse Shoe
10821             Laotto
10822          Goldsboro
10823          Phoenicia
10824              Jones
10825            Nehalem
10826  Clear Lake Shores
10827    Lebanon Borough
10828            Henrico
10829     East Hampstead

[10830 rows x 1 columns]

In [86]:
df.iloc[:,[2]]

              RegionName
0               New York
1            Los Angeles
2                Chicago
3           Philadelphia
4                Phoenix
5              Las Vegas
6              San Diego
7                 Dallas
8               San Jose
9           Jacksonville
10         San Francisco
11                Austin
12               Detroit
13              Columbus
14               Memphis
15             Charlotte
16               El Paso
17                Boston
18               Seattle
19             Baltimore
20                Denver
21            Washington
22             Nashville
23             Milwaukee
24                Tucson
25              Portland
26         Oklahoma City
27                 Omaha
28           Albuquerque
29                Fresno
...                  ...
10800       Mount Sidney
10801        Cedar Grove
10802              Clark
10803          Daleville
10804        Piney Point
10805               Almo
10806         Bois D Arc
10807            Tyaskin
10808          Inverness
10809             Otwell
10810        Lake Hughes
10811        Marble Hill
10812               Mead
10813           Hesperus
10814            Midland
10815             Lavaca
10816       Mays Landing
10817      Stinson Beach
10818   Upper Brookville
10819            Decatur
10820         Horse Shoe
10821             Laotto
10822          Goldsboro
10823          Phoenicia
10824              Jones
10825            Nehalem
10826  Clear Lake Shores
10827    Lebanon Borough
10828            Henrico
10829     East Hampstead

[10830 rows x 1 columns]

In [87]:
df[['RegionName']]

              RegionName
0               New York
1            Los Angeles
2                Chicago
3           Philadelphia
4                Phoenix
5              Las Vegas
6              San Diego
7                 Dallas
8               San Jose
9           Jacksonville
10         San Francisco
11                Austin
12               Detroit
13              Columbus
14               Memphis
15             Charlotte
16               El Paso
17                Boston
18               Seattle
19             Baltimore
20                Denver
21            Washington
22             Nashville
23             Milwaukee
24                Tucson
25              Portland
26         Oklahoma City
27                 Omaha
28           Albuquerque
29                Fresno
...                  ...
10800       Mount Sidney
10801        Cedar Grove
10802              Clark
10803          Daleville
10804        Piney Point
10805               Almo
10806         Bois D Arc
10807            Tyaskin
10808          Inverness
10809             Otwell
10810        Lake Hughes
10811        Marble Hill
10812               Mead
10813           Hesperus
10814            Midland
10815             Lavaca
10816       Mays Landing
10817      Stinson Beach
10818   Upper Brookville
10819            Decatur
10820         Horse Shoe
10821             Laotto
10822          Goldsboro
10823          Phoenicia
10824              Jones
10825            Nehalem
10826  Clear Lake Shores
10827    Lebanon Borough
10828            Henrico
10829     East Hampstead

[10830 rows x 1 columns]

In [91]:
df.count()

Date          10830
RegionID      10830
RegionName    10830
State         10830
Metro         10256
County        10830
SizeRank      10830
Zhvi          10830
dtype: int64

In [92]:
df.mean()

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [93]:
df.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06

In [94]:
df.describe()[['RegionID']]

            RegionID
count   10830.000000
mean    84344.818837
std    125679.686534
min      3301.000000
25%     19346.250000
50%     35444.500000
75%     52608.250000
max    737791.000000

In [96]:
type(df.kurt())

pandas.core.series.Series

In [97]:
df.kurt()

RegionID     2.291461
SizeRank    -1.200000
Zhvi        82.042387
dtype: float64

In [98]:
df.corr()

          RegionID  SizeRank      Zhvi
RegionID  1.000000  0.052025 -0.032184
SizeRank  0.052025  1.000000 -0.115621
Zhvi     -0.032184 -0.115621  1.000000

In [99]:
df.cov()

              RegionID      SizeRank          Zhvi
RegionID  1.579538e+10  2.044245e+07 -1.037760e+09
SizeRank  2.044245e+07  9.774978e+06 -9.274275e+07
Zhvi     -1.037760e+09 -9.274275e+07  6.582212e+10

In [100]:
data = pd.read_csv('data-zillow.csv')

In [101]:
data.iat[1, 4]

'Los Angeles-Long Beach-Anaheim'

In [102]:
data.at[1, 'Metro'].replace('-', ' ')

'Los Angeles Long Beach Anaheim'

In [103]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [106]:
data.loc[1:7, 'Metro':'County']

                            Metro        County
1  Los Angeles-Long Beach-Anaheim   Los Angeles
2                         Chicago          Cook
3                    Philadelphia  Philadelphia
4                         Phoenix      Maricopa
5                       Las Vegas         Clark
6                       San Diego     San Diego
7               Dallas-Fort Worth        Dallas

## Add Column

In [107]:
data['name'] = 3  # add new column (broadcasting)

In [108]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,name
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400,3
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900,3
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700,3
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300,3
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300,3
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500,3
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100,3
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700,3
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400,3
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300,3
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300,3
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600,3
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500,3
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300,3
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100,3
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800,3
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400,3
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600,3
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300,3
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100,3
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200,3
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900,3
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500,3
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900,3
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800,3
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900,3
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700,3
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100,3
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600,3
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700,3
...,...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500,3
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700,3
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600,3
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800,3
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000,3
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400,3
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000,3
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600,3
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300,3
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200,3
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700,3
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900,3
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600,3
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100,3
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900,3
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400,3
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800,3
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600,3
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600,3
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300,3
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700,3
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700,3
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700,3
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600,3
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200,3
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200,3
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900,3
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100,3
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800,3
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400,3

In [109]:
del data['name']

In [110]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

## Select in Condition

In [111]:
data.iloc[7, [4, 5]] #row's index = 8 and colums's index: 5, 6

Metro     Dallas-Fort Worth
County               Dallas
Name: 7, dtype: object

In [113]:
data.loc[11, :] #row's index = 11 ans all colunms

Date          2017-05-31
RegionID           10221
RegionName        Austin
State                 TX
Metro             Austin
County            Travis
SizeRank              11
Zhvi              321600
Name: 11, dtype: object

In [114]:
data.loc[101:105, 'Metro']

101                     Winston-Salem
102    Los Angeles-Long Beach-Anaheim
103                          Richmond
104             Miami-Fort Lauderdale
105                           Ventura
Name: Metro, dtype: object

In [115]:
data.iloc[201:203, 4:7] #202~203 and 5~7 because index numbers start at 0

           Metro     County  SizeRank
201       Canton      Stark       201
202  New Orleans  Jefferson       202

In [116]:
data.loc[data.Date == '2017-05-31']

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [117]:
data.loc[data.State == 'CA'] #State 열에서 CA 조건에 맞는 행

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

In [121]:
data.loc[data.State=='CA', ['Date', 'State']]

             Date State
1      2017-05-31    CA
6      2017-05-31    CA
8      2017-05-31    CA
10     2017-05-31    CA
29     2017-05-31    CA
30     2017-05-31    CA
32     2017-05-31    CA
38     2017-05-31    CA
49     2017-05-31    CA
50     2017-05-31    CA
55     2017-05-31    CA
58     2017-05-31    CA
65     2017-05-31    CA
70     2017-05-31    CA
83     2017-05-31    CA
84     2017-05-31    CA
85     2017-05-31    CA
89     2017-05-31    CA
94     2017-05-31    CA
102    2017-05-31    CA
105    2017-05-31    CA
107    2017-05-31    CA
114    2017-05-31    CA
118    2017-05-31    CA
123    2017-05-31    CA
126    2017-05-31    CA
128    2017-05-31    CA
134    2017-05-31    CA
139    2017-05-31    CA
144    2017-05-31    CA
...           ...   ...
10288  2017-05-31    CA
10308  2017-05-31    CA
10328  2017-05-31    CA
10364  2017-05-31    CA
10367  2017-05-31    CA
10406  2017-05-31    CA
10419  2017-05-31    CA
10421  2017-05-31    CA
10435  2017-05-31    CA
10456  2017-05-31    CA
10470  2017-05-31    CA
10490  2017-05-31    CA
10514  2017-05-31    CA
10515  2017-05-31    CA
10517  2017-05-31    CA
10538  2017-05-31    CA
10553  2017-05-31    CA
10578  2017-05-31    CA
10580  2017-05-31    CA
10612  2017-05-31    CA
10640  2017-05-31    CA
10645  2017-05-31    CA
10667  2017-05-31    CA
10757  2017-05-31    CA
10761  2017-05-31    CA
10775  2017-05-31    CA
10776  2017-05-31    CA
10808  2017-05-31    CA
10810  2017-05-31    CA
10817  2017-05-31    CA

[701 rows x 2 columns]

In [122]:
data.loc[data['State']=='CA']

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

In [123]:
data.loc[data.Metro == 'New York', 'County']

0             Queens
63             Essex
72            Hudson
138      Westchester
176          Passaic
225            Union
291        Middlesex
338            Ocean
387            Ocean
402          Passaic
406         Dutchess
521      Westchester
541            Ocean
564          Passaic
582           Hudson
591            Essex
611      Westchester
631           Hudson
651           Nassau
716           Hudson
727      Westchester
732           Nassau
735         Monmouth
750            Essex
760          Passaic
779            Ocean
781            Union
787        Middlesex
800           Orange
806        Middlesex
            ...
9591       Hunterdon
9614         Suffolk
9714         Suffolk
9732           Ocean
9777           Ocean
9791           Ocean
9805        Monmouth
9817           Ocean
9819        Monmouth
9820           Ocean
9860        Monmouth
9939       Hunterdon
10011          Ocean
10022        Suffolk
10113        Suffolk
10158        Suffolk
10173         Bergen
10203        Suffolk
10258          Ocean
10284         Sussex
10360          Ocean
10375        Suffolk
10383        Passaic
10408        Suffolk
10457        Suffolk
10495          Ocean
10589          Ocean
10700         Orange
10818         Nassau
10827      Hunterdon
Name: County, Length: 648, dtype: object

## Sort

In [124]:
data.sort_values(by = 'Metro') # axis = 0 : row / axis = 1 : column / inplace: false (temporary) /

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
9851,2017-05-31,48458,Westport,WA,Aberdeen,Grays Harbor,9851,144600
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
5090,2017-05-31,35514,Hoquiam,WA,Aberdeen,Grays Harbor,5090,95700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400
9149,2017-05-31,18370,Grayland,WA,Aberdeen,Grays Harbor,9149,143900
2073,2017-05-31,30116,Aberdeen,WA,Aberdeen,Grays Harbor,2073,127800
9859,2017-05-31,31062,Cosmopolis,WA,Aberdeen,Grays Harbor,9859,147400
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
10535,2017-05-31,54766,Tuscola,TX,Abilene,Taylor,10535,237100
6823,2017-05-31,39752,Merkel,TX,Abilene,Taylor,6823,84300
8855,2017-05-31,8218,Baird,TX,Abilene,Callahan,8855,110100
5653,2017-05-31,44657,Clyde,TX,Abilene,Callahan,5653,126300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
9301,2017-05-31,50681,Allen,OK,Ada,Pontotoc,9301,80400
9265,2017-05-31,7270,Stonewall,OK,Ada,Pontotoc,9265,94500
10277,2017-05-31,44930,Diamond,OH,Akron,Portage,10277,147700
8292,2017-05-31,26725,Reminderville,OH,Akron,Summit,8292,188400
2196,2017-05-31,7510,Twinsburg,OH,Akron,Summit,2196,196100
10210,2017-05-31,40037,North Benton,OH,Akron,Portage,10210,120100
1907,2017-05-31,52591,Hudson,OH,Akron,Summit,1907,318600
6105,2017-05-31,13510,Richfield,OH,Akron,Summit,6105,263000
5609,2017-05-31,28946,Munroe Falls,OH,Akron,Summit,5609,151700
5051,2017-05-31,202994,Portage Lakes,OH,Akron,Summit,5051,116200
3544,2017-05-31,5746,Macedonia,OH,Akron,Summit,3544,193900
3235,2017-05-31,6254,Norton,OH,Akron,Summit,3235,135100
3982,2017-05-31,43493,Streetsboro,OH,Akron,Portage,3982,144300
1727,2017-05-31,5398,Kent,OH,Akron,Portage,1727,125900
5434,2017-05-31,35128,Atwater,OH,Akron,Portage,5434,161200
...,...,...,...,...,...,...,...,...
10625,2017-05-31,36951,Neskowin,OR,NaN,Tillamook,10625,372500
10629,2017-05-31,44925,Dewy Rose,GA,NaN,Elbert,10629,104800
10636,2017-05-31,24419,Dowelltown,TN,NaN,Dekalb,10636,106800
10642,2017-05-31,15086,Allardt,TN,NaN,Fentress,10642,138400
10657,2017-05-31,51538,Cooper,TX,NaN,Delta,10657,64300
10658,2017-05-31,8136,Coulee Dam,WA,NaN,Okanogan,10658,137000
10661,2017-05-31,7298,Suches,GA,NaN,Union,10661,193200
10666,2017-05-31,15699,Mazama,WA,NaN,Okanogan,10666,328100
10678,2017-05-31,49330,Flintville,TN,NaN,Lincoln,10678,98200
10679,2017-05-31,14139,Tiger,GA,NaN,Rabun,10679,165300
10701,2017-05-31,22845,Trezevant,TN,NaN,Carroll,10701,56300
10704,2017-05-31,7040,Shawneetown,IL,NaN,Gallatin,10704,66600
10707,2017-05-31,396967,Napier Township,PA,NaN,Bedford,10707,138700
10722,2017-05-31,29691,Llano,TX,NaN,Llano,10722,130500
10731,2017-05-31,5885,Meadowlakes,TX,NaN,Burnet,10731,231600
10732,2017-05-31,8060,Big Rock,TN,NaN,Stewart,10732,77600
10736,2017-05-31,5561,Laurel,IN,NaN,Franklin,10736,76800
10737,2017-05-31,8678,Finger,TN,NaN,McNairy,10737,82200
10747,2017-05-31,38522,Finland,MN,NaN,Lake,10747,161600
10752,2017-05-31,45973,Julian,NC,NaN,Guilford,10752,139600
10754,2017-05-31,49199,Granite Shoals,TX,NaN,Burnet,10754,140800
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10758,2017-05-31,34883,Winter Park,CO,NaN,Grand,10758,325700
10762,2017-05-31,28121,Cottageville,SC,NaN,Colleton,10762,118700
10763,2017-05-31,29890,Mulberry,TN,NaN,Lincoln,10763,121600
10764,2017-05-31,35349,Fraser,CO,NaN,Grand,10764,274500
10768,2017-05-31,17816,Dresser,WI,NaN,Polk,10768,189900
10774,2017-05-31,34232,Tamworth,NH,NaN,Carroll,10774,164100
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200

In [128]:
data.sort_values(['RegionID', 'State'])

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [129]:
data.sort_values('RegionID', ascending=False)

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
...,...,...,...,...,...,...,...,...
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900

In [131]:
data.sort_values(by=['RegionID', 'County', 'Zhvi'], ascending=[True, False, True])

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [137]:
data.sort_values('RegionID', axis = 1) #열끼리 비교가 안되는 자료

KeyError: 'RegionID'

In [138]:
data.sort_values('RegionID', inplace=True)

In [139]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [140]:
data.reset_index()  # drop = True: delete past index

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [141]:
data  # because inplace = False

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [142]:
data.reset_index(inplace = True)

In [143]:
data

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [144]:
del data['index']  # past index

In [145]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
10800,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

## filter
1. items: name of Column = dictionary list 
2. like
3. regex: regular expression

In [147]:
data.filter(items=['State', 'Metro'])

      State                           Metro
0        NC        Pinehurst-Southern Pines
1        NJ                   Atlantic City
2        MD                      Washington
3        OK                             Ada
4        GA                         Atlanta
5        TN                     Clarksville
6        IL                         Chicago
7        WA                         Spokane
8        CA                          Madera
9        SC                         Augusta
10       MI                    Battle Creek
11       AL                        Anniston
12       CA                      Sacramento
13       IL                       Davenport
14       SC                      Greenville
15       TN                       Knoxville
16       IN                          Angola
17       AZ                         Phoenix
18       FL                           Ocala
19       MN             Minneapolis-St Paul
20       PA                    Philadelphia
21       NJ                        New York
22       MA                       Worcester
23       AL                          Dothan
24       MA                          Boston
25       PA                        Scranton
26       AL                      Montgomery
27       CA  Los Angeles-Long Beach-Anaheim
28       CA                         Hanford
29       CA                     Bakersfield
...     ...                             ...
10800    NY                          Albany
10801    NH                       Claremont
10802    PA                      Pittsburgh
10803    WI                         Madison
10804    PA                         Reading
10805    NY                           Utica
10806    NY                          Auburn
10807    PA                        Scranton
10808    PA                      Pittsburgh
10809    NY                       Watertown
10810    WI                      Janesville
10811    PA                    Philadelphia
10812    NY                             NaN
10813    MI                      Big Rapids
10814    MI                    Grand Rapids
10815    MI                        Bay City
10816    MI                    Grand Rapids
10817    PA                      Pittsburgh
10818    PA                        Scranton
10819    PA                    Philadelphia
10820    NY                    Seneca Falls
10821    MI                        Muskegon
10822    PA                         Reading
10823    PA                      Harrisburg
10824    PA                      Gettysburg
10825    CA                      Santa Rosa
10826    AZ                         Phoenix
10827    NJ                        New York
10828    CA                       Riverside
10829    CT                        Hartford

[10830 rows x 2 columns]

In [151]:
data.filter(regex='^Region', axis=0)

Empty DataFrame
Columns: [Date, RegionID, RegionName, State, Metro, County, SizeRank, Zhvi]
Index: []

In [157]:
data['Zhvi'] > 500000  # 결과가 True, False 로 나온다. 그래서 loc 안 조건으로 넣으면 된다.

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
10800    False
10801    False
10802    False
10803    False
10804    False
10805    False
10806    False
10807    False
10808    False
10809    False
10810    False
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817    False
10818    False
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825     True
10826    False
10827    False
10828     True
10829    False
Name: Zhvi, Length: 10830, dtype: bool

In [158]:
data.loc[data['Zhvi'] > 500000]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
27,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
30,2017-05-31,3509,Bal Harbour,FL,Miami-Fort Lauderdale,Miami-Dade,7720,1043000
48,2017-05-31,3619,Bellevue,WA,Seattle,King,211,819700
71,2017-05-31,3734,Boca Grande,FL,Fort Myers,Lee,10205,1382300
78,2017-05-31,3761,Bothell,WA,Seattle,Snohomish,1102,519100
87,2017-05-31,3811,Brier,WA,Seattle,Snohomish,5016,518000
104,2017-05-31,3893,Burbank,CA,San Jose,Santa Clara,5342,787100
108,2017-05-31,3929,Calistoga,CA,Napa,Napa,4637,657600
111,2017-05-31,3934,Cambridge,MA,Boston,Middlesex,267,726000
117,2017-05-31,3975,Carlsbad,CA,San Diego,San Diego,293,785100
118,2017-05-31,3980,Carpinteria,CA,Santa Maria-Santa Barbara,Santa Barbara,2649,823400
125,2017-05-31,4028,Centerport,NY,New York,Suffolk,7328,502300
144,2017-05-31,4145,Clyde Hill,WA,Seattle,King,7385,2425000
173,2017-05-31,4281,Cupertino,CA,San Jose,Santa Clara,757,1847800
191,2017-05-31,4406,Downey,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,243,551300
201,2017-05-31,4485,East Norwich,NY,New York,Nassau,7452,586300
224,2017-05-31,4582,Emeryville,CA,San Francisco,Alameda,3834,518300
238,2017-05-31,4648,Fair Haven,NJ,New York,Monmouth,5037,707400
240,2017-05-31,4655,Fairfax,VA,Washington,Fairfax,168,521600
246,2017-05-31,4679,Falls Church,VA,Washington,Fairfax,240,514300
281,2017-05-31,4905,Glen Ellen,CA,Santa Rosa,Sonoma,6723,963300
289,2017-05-31,4931,Goleta,CA,Santa Maria-Santa Barbara,Santa Barbara,1621,780700
299,2017-05-31,4983,Greenport,NY,New York,Suffolk,8255,529500
320,2017-05-31,5098,Haworth,NJ,New York,Bergen,9226,671200
321,2017-05-31,5104,Haymarket,VA,Washington,Prince William,2041,515500
325,2017-05-31,5130,Herald,CA,Sacramento,Sacramento,7423,547400
327,2017-05-31,5137,Herricks,NY,New York,Nassau,5931,643100
332,2017-05-31,5160,Highland Beach,FL,Miami-Fort Lauderdale,Palm Beach,6690,522600
333,2017-05-31,5169,Hillsdale,NJ,New York,Bergen,3674,525600
336,2017-05-31,5197,Holualoa,HI,Hilo,Hawaii,9933,665400
...,...,...,...,...,...,...,...,...
9979,2017-05-31,397319,Town of Scituate,MA,Boston,Plymouth,2767,551000
10010,2017-05-31,397384,Thornbury Township,PA,Philadelphia,Delaware,8462,539100
10023,2017-05-31,397407,Orangetown,NY,New York,Rockland,6761,564400
10026,2017-05-31,397423,Cranbury Township,NJ,New York,Middlesex,6470,646600
10048,2017-05-31,397481,Town of Essex,MA,Boston,Essex,6576,518700
10063,2017-05-31,397524,Harding Township,NJ,New York,Morris,6104,1140000
10087,2017-05-31,397582,Town of Ridgefield,CT,Stamford,Fairfield,1716,602000
10088,2017-05-31,397583,Town of Sharon,MA,Boston,Norfolk,2388,517700
10093,2017-05-31,397593,Town of Topsfield,MA,Boston,Essex,5834,575100
10139,2017-05-31,397699,Town of Andover,MA,Boston,Essex,1542,583600
10141,2017-05-31,397701,Town of Shelter Island,NY,New York,Suffolk,10113,964600
10169,2017-05-31,397771,Chatham Township,NJ,New York,Morris,2392,877400
10189,2017-05-31,397820,Long Beach Township,NJ,New York,Ocean,10495,817300
10193,2017-05-31,397826,Chatham,MA,Cape Cod,Barnstable,6367,614400
10194,2017-05-31,397829,Mendham Township,NJ,New York,Morris,3546,689500
10235,2017-05-31,397920,Tewksbury Township,NJ,New York,Hunterdon,5075,593600
10268,2017-05-31,398002,Town of Hopkinton,MA,Boston,Middlesex,2661,564800
10275,2017-05-31,398019,Town of Falmouth,MA,Cape Cod,Barnstable,4757,564200
10288,2017-05-31,398045,Orleans,MA,Cape Cod,Barnstable,6543,613900
10343,2017-05-31,398173,Willistown Township,PA,Philadelphia,Chester,6252,595300
10613,2017-05-31,398808,Provincetown,MA,Cape Cod,Barnstable,7798,509100
10636,2017-05-31,398868,Lower Merion Township,PA,Philadelphia,Montgomery,1674,631000
10675,2017-05-31,398947,Town of Duxbury,MA,Boston,Plymouth,3451,608000
10677,2017-05-31,398956,New Shoreham,RI,Providence,Washington,9873,1079400
10696,2017-05-31,398997,Morris Township,NJ,New York,Morris,1920,582200
10703,2017-05-31,399011,Town of Medfield,MA,Boston,Norfolk,3739,647200
10760,2017-05-31,399153,Town of Hingham,MA,Boston,Plymouth,2408,763000
10787,2017-05-31,399213,Town of Mamaroneck,NY,New York,Westchester,2328,633800
10825,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10828,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700

In [156]:
data['Zhvi']

0        163900
1        164400
2        360400
3         99800
4        124300
5        210200
6        234000
7        158400
8        286200
9        122800
10        71500
11       109700
12       347700
13       116900
14       121800
15       165000
16       153700
17       346400
18       167100
19       257200
20       293600
21       301300
22       231600
23       124100
24       382100
25        59600
26       110400
27       570900
28       134300
29       219800
          ...
10800    162600
10801    164500
10802    191800
10803    259600
10804    188100
10805    133900
10806    133400
10807     71200
10808    161200
10809    145600
10810    191000
10811    347700
10812     90800
10813     92500
10814    168300
10815     91700
10816    195900
10817    224300
10818    173000
10819    424500
10820    179600
10821     70800
10822    182400
10823    153200
10824    246600
10825    863600
10826    183200
10827    231100
10828    532700
10829    207100
Name: Zhvi, Length: 10830, dtype: int64

In [164]:
data.filter(like = 'Met')

                                Metro
0            Pinehurst-Southern Pines
1                       Atlantic City
2                          Washington
3                                 Ada
4                             Atlanta
5                         Clarksville
6                             Chicago
7                             Spokane
8                              Madera
9                             Augusta
10                       Battle Creek
11                           Anniston
12                         Sacramento
13                          Davenport
14                         Greenville
15                          Knoxville
16                             Angola
17                            Phoenix
18                              Ocala
19                Minneapolis-St Paul
20                       Philadelphia
21                           New York
22                          Worcester
23                             Dothan
24                             Boston
25                           Scranton
26                         Montgomery
27     Los Angeles-Long Beach-Anaheim
28                            Hanford
29                        Bakersfield
...                               ...
10800                          Albany
10801                       Claremont
10802                      Pittsburgh
10803                         Madison
10804                         Reading
10805                           Utica
10806                          Auburn
10807                        Scranton
10808                      Pittsburgh
10809                       Watertown
10810                      Janesville
10811                    Philadelphia
10812                             NaN
10813                      Big Rapids
10814                    Grand Rapids
10815                        Bay City
10816                    Grand Rapids
10817                      Pittsburgh
10818                        Scranton
10819                    Philadelphia
10820                    Seneca Falls
10821                        Muskegon
10822                         Reading
10823                      Harrisburg
10824                      Gettysburg
10825                      Santa Rosa
10826                         Phoenix
10827                        New York
10828                       Riverside
10829                        Hartford

[10830 rows x 1 columns]

In [166]:
data[(data['Zhvi'] > 1000000) & (data['State'] == 'NY')]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
805,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
1694,2017-05-31,12894,Muttontown,NY,New York,Nassau,6661,1613400
1886,2017-05-31,13937,Southampton,NY,New York,Suffolk,3904,1398200
2215,2017-05-31,16387,Sands Point,NY,New York,Nassau,8093,2289600
2466,2017-05-31,17874,East Hills,NY,New York,Nassau,6736,1299300
2557,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
2572,2017-05-31,18478,Harrison,NY,New York,Westchester,3474,1031200
2646,2017-05-31,18955,Larchmont,NY,New York,Westchester,3064,1052200
2649,2017-05-31,18963,Lattingtown,NY,New York,Nassau,9028,1184500
2794,2017-05-31,19808,Oyster Bay Cove,NY,New York,Nassau,9055,1649400
3157,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
3748,2017-05-31,25725,Manhasset,NY,New York,Nassau,3032,1483400
3933,2017-05-31,26537,Plandome,NY,New York,Nassau,9179,2024500
4491,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
5181,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
5391,2017-05-31,35276,Cold Spring Harbor,NY,New York,Suffolk,8317,1164600
5626,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
5976,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
6180,2017-05-31,40053,North Hills,NY,New York,Nassau,5682,1431800
7357,2017-05-31,47495,Rye,NY,New York,Westchester,2619,1736400
7359,2017-05-31,47499,Sag Harbor,NY,New York,Suffolk,8611,1576200
8175,2017-05-31,52907,Lawrence,NY,New York,Nassau,4700,1124600
8332,2017-05-31,53705,Old Westbury,NY,New York,Nassau,6386,2230800
8450,2017-05-31,54333,Scarsdale,NY,New York,Westchester,2405,1468100
8542,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
8771,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
9199,2017-05-31,194752,Flower Hill,NY,New York,Nassau,7728,1220300

In [167]:
data.to_excel('data-zillow.xlsx')

In [173]:
data[(data['State'] == 'CA')|(data['State'] == 'NY')].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
8,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
12,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
27,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800

## filtering using isin

In [174]:
filter = data['Metro'].isin(['New York', 'San Francisco'])  # True or False

In [172]:
data[filter].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
21,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
64,2017-05-31,3699,Bloomfield,NJ,New York,Essex,969,316100
76,2017-05-31,3752,Boonton,NJ,New York,Morris,4075,380200
91,2017-05-31,3835,Brookhaven,NY,New York,Suffolk,8307,362000
125,2017-05-31,4028,Centerport,NY,New York,Suffolk,7328,502300

In [175]:
data['State'].unique()

array(['NC', 'NJ', 'MD', 'OK', 'GA', 'TN', 'IL', 'WA', 'CA', 'SC', 'MI',
       'AL', 'IN', 'AZ', 'FL', 'MN', 'PA', 'MA', 'NY', 'OR', 'AR', 'TX',
       'MO', 'WI', 'OH', 'NH', 'ID', 'VA', 'KY', 'CT', 'LA', 'WY', 'KS',
       'CO', 'MS', 'ND', 'RI', 'UT', 'NE', 'HI', 'NV', 'AK', 'MT', 'IA',
       'DE', 'WV', 'NM', 'DC', 'ME'], dtype=object)

In [181]:
data[data['State'].isin(['DC','PA'])].head()  # series에 조건을 준다. - list

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
20,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
25,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
47,2017-05-31,3618,Bellevue,PA,Pittsburgh,Allegheny,4220,128400
57,2017-05-31,3649,Berwick,PA,Bloomsburg,Columbia,3636,106000
68,2017-05-31,3706,Bloomsburg,PA,Bloomsburg,Columbia,2804,118100

In [196]:
data[data.isin({'State':['CA'], 'Metro':['San Fransisco']})]  # dataframe에 조건을 준다. - dictionary

      Date  RegionID RegionName State Metro County  SizeRank  Zhvi
0      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
1      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
2      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
3      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
4      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
5      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
6      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
7      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
8      NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
9      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
11     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
12     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
13     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
14     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
15     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
16     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
17     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
18     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
19     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
20     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
21     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
22     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
23     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
24     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
25     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
26     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
27     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
28     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
29     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
...    ...       ...        ...   ...   ...    ...       ...   ...
10800  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10801  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10802  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10803  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10804  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10805  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10806  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10807  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10808  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10809  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10810  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10811  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10812  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10813  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10814  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10815  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10816  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10817  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10818  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10819  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10820  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10821  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10822  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10823  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10824  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10825  NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
10826  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10827  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10828  NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
10829  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN

[10830 rows x 8 columns]

## loc return type: Series & DataFrame

In [207]:
data.loc[1:3, 'Date']

1    2017-05-31
2    2017-05-31
3    2017-05-31
Name: Date, dtype: object

In [208]:
data.loc[1:3, ['Date']]

         Date
1  2017-05-31
2  2017-05-31
3  2017-05-31

In [210]:
data[data.isin({'State':['CA'], 'Metro':['San Fransisco']})]

      Date  RegionID RegionName State Metro County  SizeRank  Zhvi
0      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
1      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
2      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
3      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
4      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
5      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
6      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
7      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
8      NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
9      NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
11     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
12     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
13     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
14     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
15     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
16     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
17     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
18     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
19     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
20     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
21     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
22     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
23     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
24     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
25     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
26     NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
27     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
28     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
29     NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
...    ...       ...        ...   ...   ...    ...       ...   ...
10800  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10801  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10802  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10803  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10804  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10805  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10806  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10807  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10808  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10809  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10810  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10811  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10812  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10813  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10814  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10815  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10816  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10817  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10818  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10819  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10820  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10821  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10822  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10823  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10824  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10825  NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
10826  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10827  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
10828  NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
10829  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN

[10830 rows x 8 columns]